* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: black;
}

.container {
  margin: 0 auto;
}

.container .top {
  display: flex;
  justify-content: space-between;
}

.container .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
*****
HEADER
*****
*/

h2 {
  color: azure;
  margin: 25px;
}

.top {
  height: 80px;
  background-color: black;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
}

.top-tags {
  color: white;
  background-color: #4a4a4a;
  padding: 8px 8px;
  display: inline-block;
  gap: 10px;
  margin: 5px 5px 0 0;
  border-radius: 10px;
}

/*
*****
MAIN
*****
*/

main {
  display: flex;
  justify-content: center;
  padding: 85px 85px;
}

.centro {
  margin: 0 auto;
}

.foto {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pic {
  color: white;
  position: relative;
}

.mic {
  position: absolute;
  bottom: 17px;
  background-color: rgba(89, 100, 112, 0.6);
  padding: 7px 7px;
}

/*
*****
FOOTER
*****
*/

.bottom {
  height: 80px;
  width: 100vw;
  overflow-y: scroll;
  background-color: #222222;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
}

.icone-bottom {
  display: flex;
  padding: 20px 15px;
  flex-wrap: wrap-reverse;
  gap: 20px;
  flex-wrap: wrap;
}

#end-meeting {
  color: red;
  background-color: #4a4a4a;
  padding: 35px 20px;
}

.icone-bottom i {
  display: flex;
  justify-content: center;
  font-size: 25px;
  flex-wrap: wrap;
}

.option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.freccia i {
  font-size: 10px;
}

.share {
  color: #4bc800;
}

footer {
  font-size: 13px;
}
